@using AM.Core.DTOs.Orders
@model COrdersIndexDTO
@{
    ViewData["Title"] = "سفارشات کاربر";
}

<div class="users-container">
    <div class="add-container">
        <a asp-controller="User" asp-action="Index">
            بازگشت به کاربران
            <i class="fa-solid fa-right-to-bracket"></i>
        </a>
    </div>
    <div class="title-container">
        <h2>جزییات مشتری: @Model.CustomerName</h2>
    </div>
    <div class="add-container">
        <a asp-controller="Order" asp-action="AddOrder" asp-route-customerId="@Model.CustomerId">
            افزودن سفارش جدید
            <i class="fa-solid fa-plus"></i>
        </a>
    </div>
    <div class="table-container">
        <table class="users-table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>نام سفارش</th>
                    <th>قیمت</th>
                    <th>وضعیت</th>
                    <th>تاریخ دریافت</th>
                    <th>عملیات</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int i = 1;
                    foreach (var order in Model.Orders)
                    {
                        <tr>
                            <td>@i</td>
                            <td>
                                <a class="name-link" href="#">@order.Name</a>
                            </td>
                            <td>@order.Price.ToString("N0") تومان</td>
                            <td>
                                @if (order.Status == true)
                                {
                                    <p class="order-status-finish">تکمیل شده</p>
                                }
                                else
                                {
                                    <p class="order-status-repairing">در حال تعمیر</p>
                                }
                            </td>
                            <td>@order.RecieveDate</td>
                            <td class="action-buttons">
                                <button class="edit-btn">
                                    <a href="#">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </a>
                                </button>
                                <button class="delete-btn">
                                    <a href="#" onclick="confirmDelete(event, this)">
                                        <i class="fa-solid fa-trash"></i>
                                    </a>
                                </button>
                            </td>
                        </tr>
                        i++;
                    }
                }
            </tbody>
        </table>
    </div>
</div>