@using AM.Core.DTOs.Orders
@model OrdersIndexDTO
@{
    ViewData["Title"] = "سفارشات";
}

<div class="search-container">
    <form action="">
        <div class="search-box">
            <input type="text" placeholder="نام سفارش را جستجو کنید !">
            <button>
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>
    </form>
</div>
<div class="users-container">
    <div class="table-container">
        <table class="users-table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>نام سفارش</th>
                    <th>نام مشتری</th>
                    <th>قیمت</th>
                    <th>وضعیت</th>
                    <th>تاریخ دریافت</th>
                    <th>عملیات</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int i = 1;
                    foreach(var order in Model.Orders)
                    {
                        <tr>
                            <td>@i</td>
                            <td>
                                <a class="name-link" href="#">@order.Name</a>
                            </td>
                            <td>@order.CustomerName</td>
                            <td>@order.Price.ToString("N0") تومان</td>
                            <td>
                                @if(order.Status == true)
                                {
                                    <p class="order-status-finish">تکمیل شده</p>
                                } else {
                                    <p class="order-status-repairing">در حال تعمیر</p>
                                }
                            </td>
                            <td>
                                @order.RecieveDate
                            </td>
                            <td class="action-buttons">
                                <button class="edit-btn">
                                    <a href="#">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </a>
                                </button>
                                <button class="delete-btn">
                                    <a href="#" onclick="confirmDelete(event, this)">
                                        <i class="fa-solid fa-trash"></i>
                                    </a>
                                </button>
                            </td>
                        </tr>
                        i++;
                    }
                }
            </tbody>
        </table>
    </div>
</div>